.TrackingsContainer {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TrackingsDate {
  font-weight: 700;
}

.TrackingsDurationContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.TrackingsDuration {
  font-weight: 700;
}

.TrackingsList {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
